In [ ]:
!pip install OleFileIO_PL
!pip install scrapy

Processing /root/.cache/pip/wheels/7f/a6/17/86b00b33e526659bb900323f8563ccff99193af07457a31dd9/olefile-0.42.1-cp37-none-any.whl
Installing collected packages: OleFileIO-PL
ERROR: Exception:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/pip/_internal/cli/base_command.py", line 153, in _main
    status = self.run(options, args)
  File "/usr/local/lib/python3.7/dist-packages/pip/_internal/commands/install.py", line 455, in run
    use_user_site=options.use_user_site,
  File "/usr/local/lib/python3.7/dist-packages/pip/_internal/req/__init__.py", line 62, in install_given_reqs
    **kwargs
  File "/usr/local/lib/python3.7/dist-packages/pip/_internal/req/req_install.py", line 861, in install
    use_user_site=use_user_site, pycompile=pycompile,
  File "/usr/local/lib/python3.7/dist-packages/pip/_internal/req/req_install.py", line 495, in move_wheel_files
    warn_script_location=warn_script_location,
  File "/usr/local/lib/python3.7/dist-packages/pip/_internal/wheel.py", line 463, in move_wheel_files
    assert info_dir, "%s .dist-info directory not found" % req
AssertionError: OleFileIO_PL .dist-info directory not found
Requirement already satisfied: scrapy in /usr/local/lib/python3.7/dist-packages (2.5.0)
Requirement already satisfied: service-identity>=16.0.0 in /usr/local/lib/python3.7/dist-packages (from scrapy) (21.1.0)
Requirement already satisfied: pyOpenSSL>=16.2.0 in /usr/local/lib/python3.7/dist-packages (from scrapy) (20.0.1)
Requirement already satisfied: parsel>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from scrapy) (1.6.0)
Requirement already satisfied: queuelib>=1.4.2 in /usr/local/lib/python3.7/dist-packages (from scrapy) (1.6.1)
Requirement already satisfied: itemadapter>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from scrapy) (0.2.0)
Requirement already satisfied: lxml>=3.5.0; platform_python_implementation == "CPython" in /usr/local/lib/python3.7/dist-packages (from scrapy) (4.2.6)
Requirement already satisfied: Twisted[http2]>=17.9.0 in /usr/local/lib/python3.7/dist-packages (from scrapy) (21.2.0)
Requirement already satisfied: protego>=0.1.15 in /usr/local/lib/python3.7/dist-packages (from scrapy) (0.1.16)
Requirement already satisfied: h2<4.0,>=3.0 in /usr/local/lib/python3.7/dist-packages (from scrapy) (3.2.0)
Requirement already satisfied: PyDispatcher>=2.0.5; platform_python_implementation == "CPython" in /usr/local/lib/python3.7/dist-packages (from scrapy) (2.0.5)
Requirement already satisfied: w3lib>=1.17.0 in /usr/local/lib/python3.7/dist-packages (from scrapy) (1.22.0)
Requirement already satisfied: cryptography>=2.0 in /usr/local/lib/python3.7/dist-packages (from scrapy) (3.4.7)
Requirement already satisfied: zope.interface>=4.1.3 in /usr/local/lib/python3.7/dist-packages (from scrapy) (5.4.0)
Requirement already satisfied: itemloaders>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from scrapy) (1.0.4)
Requirement already satisfied: cssselect>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from scrapy) (1.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from service-identity>=16.0.0->scrapy) (1.15.0)
Requirement already satisfied: pyasn1 in /usr/local/lib/python3.7/dist-packages (from service-identity>=16.0.0->scrapy) (0.4.8)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.7/dist-packages (from service-identity>=16.0.0->scrapy) (0.2.8)
Requirement already satisfied: attrs>=19.1.0 in /usr/local/lib/python3.7/dist-packages (from service-identity>=16.0.0->scrapy) (21.2.0)
Requirement already satisfied: hyperlink>=17.1.1 in /usr/local/lib/python3.7/dist-packages (from Twisted[http2]>=17.9.0->scrapy) (21.0.0)
Requirement already satisfied: incremental>=16.10.1 in /usr/local/lib/python3.7/dist-packages (from Twisted[http2]>=17.9.0->scrapy) (21.3.0)
Requirement already satisfied: Automat>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from Twisted[http2]>=17.9.0->scrapy) (20.2.0)
Requirement already satisfied: constantly>=15.1 in /usr/local/lib/python3.7/dist-packages (from Twisted[http2]>=17.9.0->scrapy) (15.1.0)
Requirement already satisfied: priority<2.0,>=1.1.0; extra == "http2" in /usr/local/lib/python3.7/dist-packages (from Twisted[http2]>=17.9.0->scrapy) (1.3.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /usr/local/lib/python3.7/dist-packages (from h2<4.0,>=3.0->scrapy) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in /usr/local/lib/python3.7/dist-packages (from h2<4.0,>=3.0->scrapy) (3.0.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=2.0->scrapy) (1.14.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface>=4.1.3->scrapy) (57.0.0)
Requirement already satisfied: jmespath>=0.9.5 in /usr/local/lib/python3.7/dist-packages (from itemloaders>=1.0.1->scrapy) (0.10.0)
Requirement already satisfied: idna>=2.5 in /usr/local/lib/python3.7/dist-packages (from hyperlink>=17.1.1->Twisted[http2]>=17.9.0->scrapy) (2.10)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=2.0->scrapy) (2.20)

In [ ]:
import scrapy
from scrapy.loader import ItemLoader
import requests
import OleFileIO_PL
import urllib3
from bs4 import BeautifulSoup
import pandas as pd
import re
import nltk
import numpy as np
 
 
nltk.download('book')

[nltk_data] Downloading collection 'book'
[nltk_data]    |
[nltk_data]    | Downloading package abc to /root/nltk_data...
[nltk_data]    |   Package abc is already up-to-date!
[nltk_data]    | Downloading package brown to /root/nltk_data...
[nltk_data]    |   Package brown is already up-to-date!
[nltk_data]    | Downloading package chat80 to /root/nltk_data...
[nltk_data]    |   Package chat80 is already up-to-date!
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package conll2000 to /root/nltk_data...
[nltk_data]    |   Package conll2000 is already up-to-date!
[nltk_data]    | Downloading package conll2002 to /root/nltk_data...
[nltk_data]    |   Package conll2002 is already up-to-date!
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package dependency_treebank is already up-to-date!
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package ieer to /root/nltk_data...
[nltk_data]    |   Package ieer is already up-to-date!
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package nps_chat to /root/nltk_data...
[nltk_data]    |   Package nps_chat is already up-to-date!
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package ppattach to /root/nltk_data...
[nltk_data]    |   Package ppattach is already up-to-date!
[nltk_data]    | Downloading package reuters to /root/nltk_data...
[nltk_data]    |   Package reuters is already up-to-date!
[nltk_data]    | Downloading package senseval to /root/nltk_data...
[nltk_data]    |   Package senseval is already up-to-date!
[nltk_data]    | Downloading package state_union to /root/nltk_data...
[nltk_data]    |   Package state_union is already up-to-date!
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package swadesh to /root/nltk_data...
[nltk_data]    |   Package swadesh is already up-to-date!
[nltk_data]    | Downloading package timit to /root/nltk_data...
[nltk_data]    |   Package timit is already up-to-date!
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package toolbox to /root/nltk_data...
[nltk_data]    |   Package toolbox is already up-to-date!
[nltk_data]    | Downloading package udhr to /root/nltk_data...
[nltk_data]    |   Package udhr is already up-to-date!
[nltk_data]    | Downloading package udhr2 to /root/nltk_data...
[nltk_data]    |   Package udhr2 is already up-to-date!
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package unicode_samples is already up-to-date!
[nltk_data]    | Downloading package webtext to /root/nltk_data...
[nltk_data]    |   Package webtext is already up-to-date!
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package maxent_treebank_pos_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package universal_tagset is already up-to-date!
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package book_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package book_grammars is already up-to-date!
[nltk_data]    | Downloading package city_database to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package city_database is already up-to-date!
[nltk_data]    | Downloading package tagsets to /root/nltk_data...
[nltk_data]    |   Package tagsets is already up-to-date!
[nltk_data]    | Downloading package panlex_swadesh to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package panlex_swadesh is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection book

True

In [ ]:
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning) 

http = urllib3.PoolManager()

In [ ]:
pagina = 'https://www.cepea.esalq.usp.br/br/indicador/milho.aspx'
 
try:
  dados_paginas = http.request('GET',pagina)
 
except HTTPError as e:
  print(e)
except URLError:
  print("Server down or incorrect domain")  
   # Pegando os dados do html da pagina
index = BeautifulSoup(dados_paginas.data,'lxml')

  #Procurando as tag "a" dentro da "div"
links = index.find("div",{"class":"imagenet-links-after-table imagenet-col-2 imagenet-pa-l imagenet-bb imagenet-fl"})
links = links.find_all('a')[-1]
links = links.get('href')

print('\n\nClica no link para fazer o download: \n',links,'\n\n')

 
resp = requests.get(links)
ole = OleFileIO_PL.OleFileIO(resp.content) 

milho = pd.read_excel(ole.openstream('Workbook'),skiprows=3)
milho['Data'] = pd.to_datetime(milho['Data'],format='%d/%m/%Y')
milho.rename(columns={'Data':'Date'},inplace=True)
milho.rename(columns={'Ã vista R$':'Real'},inplace=True)
milho.rename(columns={'Ã vista US$':'Dolar'},inplace=True)


milho.head(-1)

Clica no link para fazer o download:
 https://www.cepea.esalq.usp.br/br/indicador/series/milho.aspx?id=77

           Date   Real  Dolar
0    2004-08-02  18.24   5.98
1    2004-08-03  18.04   5.91
2    2004-08-04  18.02   5.90
3    2004-08-05  18.06   5.89
4    2004-08-06  18.13   5.98
...         ...    ...    ...
4193 2021-06-09  95.72  18.88
4194 2021-06-10  95.21  18.80
4195 2021-06-11  94.88  18.53
4196 2021-06-14  94.29  18.59
4197 2021-06-15  93.27  18.50

[4198 rows x 3 columns]

In [ ]:

pagina1 = 'https://www.cepea.esalq.usp.br/br/indicador/soja.aspx'
 
try:
  dados_paginas1 = http.request('GET',pagina1)
 
except HTTPError as e:
  print(e)
except URLError:
  print("Server down or incorrect domain")  
   # Pegando os dados do html da pagina
index1 = BeautifulSoup(dados_paginas1.data,'lxml')

  #Procurando as tag "a" dentro da "div"
links1 = index1.find("div",{"class":"imagenet-links-after-table imagenet-col-2 imagenet-pa-l imagenet-bb imagenet-fl"})
links1 = links1.find_all('a')[-1]
links1 = links1.get('href')

print('\n\nClica no link para fazer o download: \n',links1,'\n\n')

 
resp1 = requests.get(links1)
ole1 = OleFileIO_PL.OleFileIO(resp1.content) 

soja = pd.read_excel(ole1.openstream('Workbook'),skiprows=3)
soja['Data'] = pd.to_datetime(soja['Data'], format='%d/%m/%Y')
soja.rename(columns={'Data':'Date'},inplace=True)
soja.rename(columns={'Ã vista R$':'Real'},inplace=True)
soja.rename(columns={'Ã vista US$':'Dolar'},inplace=True)


soja.head(-1)

Clica no link para fazer o download:
 https://www.cepea.esalq.usp.br/br/indicador/series/soja.aspx?id=92

           Date    Real  Dolar
0    2006-03-13   27.66  12.96
1    2006-03-14   27.45  12.91
2    2006-03-15   27.58  13.00
3    2006-03-16   26.97  12.78
4    2006-03-17   26.96  12.68
...         ...     ...    ...
3797 2021-06-09  171.82  33.89
3798 2021-06-10  170.63  33.70
3799 2021-06-11  169.41  33.09
3800 2021-06-14  166.65  32.86
3801 2021-06-15  164.45  32.61

[3802 rows x 3 columns]

In [ ]:
pagina2 = 'https://www.cepea.esalq.usp.br/br/indicador/etanol.aspx'
 
try:
  dados_paginas2 = http.request('GET',pagina2)
 
except HTTPError as e:
  print(e)
except URLError:
  print("Server down or incorrect domain")  
   # Pegando os dados do html da pagina
index2 = BeautifulSoup(dados_paginas2.data,'lxml')

  #Procurando as tag "a" dentro da "div"
links2 = index2.find("div",{"class":"imagenet-links-after-table imagenet-col-2 imagenet-pa-l imagenet-bb imagenet-fl"})
links2 = links2.find_all('a')[-1]
links2 = links2.get('href')

print('\n\nClica no link para fazer o download: \n',links2,'\n\n')

 
resp2 = requests.get(links2)
ole2 = OleFileIO_PL.OleFileIO(resp2.content) 

alcool = pd.read_excel(ole2.openstream('Workbook'),skiprows=3)
alcool['Data'] = pd.to_datetime(alcool['Data'], format='%d/%m/%Y')
alcool.rename(columns={'Data':'Date'},inplace=True)
alcool.rename(columns={'Ã vista R$':'Real'},inplace=True)
alcool.rename(columns={'Ã vista US$':'Dolar'},inplace=True)


alcool.head(-1)

Clica no link para fazer o download:
 https://www.cepea.esalq.usp.br/br/indicador/series/etanol.aspx?id=103

          Date    Real   Dolar
0   2002-11-29  0.6842  0.1899
1   2002-12-06  0.6897  0.1858
2   2002-12-13  0.6926  0.1834
3   2002-12-20  0.7065  0.1999
4   2002-12-27  0.6941  0.1961
..         ...     ...     ...
962 2021-05-07  2.9261  0.5475
963 2021-05-14  3.0488  0.5792
964 2021-05-21  2.9107  0.5503
965 2021-05-28  2.8783  0.5443
966 2021-06-04  2.9983  0.5848

[967 rows x 3 columns]

In [ ]:
pagina3 = 'https://www.cepea.esalq.usp.br/br/indicador/cafe.aspx'
 
try:
  dados_paginas3 = http.request('GET',pagina3)
 
except HTTPError as e:
  print(e)
except URLError:
  print("Server down or incorrect domain")  
   # Pegando os dados do html da pagina
index3 = BeautifulSoup(dados_paginas3.data,'lxml')

  #Procurando as tag "a" dentro da "div"
links3 = index3.find("div",{"class":"imagenet-links-after-table imagenet-col-2 imagenet-pa-l imagenet-bb imagenet-fl"})
links3 = links3.find_all('a')[-1]
links3 = links3.get('href')

print('\n\nClica no link para fazer o download: \n',links3,'\n\n')

 
resp3 = requests.get(links3)
ole3 = OleFileIO_PL.OleFileIO(resp3.content) 

cafe = pd.read_excel(ole3.openstream('Workbook'),skiprows=3)
cafe['Data'] = pd.to_datetime(cafe['Data'], format='%d/%m/%Y')
cafe.rename(columns={'Data':'Date'},inplace=True)
cafe.rename(columns={'Ã vista R$':'Real'},inplace=True)
cafe.rename(columns={'Ã vista US$':'Dolar'},inplace=True)


cafe.head(-1)

Clica no link para fazer o download:
 https://www.cepea.esalq.usp.br/br/indicador/series/cafe.aspx?id=23

           Date    Real   Dolar
0    1996-09-02  123.09  121.15
1    1996-09-03  119.68  117.69
2    1996-09-04  119.39  117.44
3    1996-09-05  118.42  116.38
4    1996-09-06  118.09  115.98
...         ...     ...     ...
6163 2021-06-09  874.33  172.45
6164 2021-06-10  869.54  171.71
6165 2021-06-11  872.57  170.42
6166 2021-06-14  855.78  168.73
6167 2021-06-15  850.96  168.74

[6168 rows x 3 columns]

In [ ]:
pagina4 = 'https://www.cepea.esalq.usp.br/br/indicador/algodao.aspx'
 
try:
  dados_paginas4 = http.request('GET',pagina4)
 
except HTTPError as e:
  print(e)
except URLError:
  print("Server down or incorrect domain")  
   # Pegando os dados do html da pagina
index4 = BeautifulSoup(dados_paginas4.data,'lxml')

  #Procurando as tag "a" dentro da "div"
links4 = index4.find("div",{"class":"imagenet-links-after-table imagenet-col-2 imagenet-pa-l imagenet-bb imagenet-fl"})
links4 = links4.find_all('a')[-1]
links4 = links4.get('href')

print('\n\nClica no link para fazer o download: \n',links4,'\n\n')

 
resp4 = requests.get(links4)
ole4 = OleFileIO_PL.OleFileIO(resp4.content) 

algodao = pd.read_excel(ole4.openstream('Workbook'),skiprows=3)
algodao['Data'] = pd.to_datetime(algodao['Data'], format='%d/%m/%Y')
algodao.rename(columns={'Data':'Date'},inplace=True)
algodao.rename(columns={'Prazo de 8 dias R$':'Real'},inplace=True)
algodao.rename(columns={'Prazo de 8 dias US$':'Dolar'},inplace=True)


algodao.head(-1)

Clica no link para fazer o download:
 https://www.cepea.esalq.usp.br/br/indicador/series/algodao.aspx?id=54

           Date    Real  Dolar
0    1996-06-28   81.19  80.86
1    1996-07-01   80.93  80.60
2    1996-07-02   80.93  80.53
3    1996-07-03   80.79  80.40
4    1996-07-04   80.70  80.35
...         ...     ...    ...
6212 2021-06-09  504.65  99.54
6213 2021-06-10  501.84  99.10
6214 2021-06-11  501.39  97.93
6215 2021-06-14  498.73  98.33
6216 2021-06-15  496.03  98.36

[6217 rows x 3 columns]

In [ ]:
pagina5 = 'https://www.cepea.esalq.usp.br/br/indicador/trigo.aspx'
 
try:
  dados_paginas5 = http.request('GET',pagina5)
 
except HTTPError as e:
  print(e)
except URLError:
  print("Server down or incorrect domain")  
   # Pegando os dados do html da pagina
index5 = BeautifulSoup(dados_paginas5.data,'lxml')

  #Procurando as tag "a" dentro da "div"
links5 = index5.find("div",{"class":"imagenet-links-after-table imagenet-col-2 imagenet-pa-l imagenet-bb imagenet-fl"})
links5 = links5.find_all('a')[-1]
links5 = links5.get('href')

print('\n\nClica no link para fazer o download: \n',links5,'\n\n')

 
resp5 = requests.get(links5)
ole5 = OleFileIO_PL.OleFileIO(resp5.content) 

trigo = pd.read_excel(ole5.openstream('Workbook'),skiprows=3)
trigo['Data'] = pd.to_datetime(trigo['Data'], format='%d/%m/%Y')
trigo.rename(columns={'Data':'Date'},inplace=True)
trigo.rename(columns={'Ã vista R$':'Real'},inplace=True)
trigo.rename(columns={'Ã vista US$':'Dolar'},inplace=True)


trigo.head(-1)

Clica no link para fazer o download:
 https://www.cepea.esalq.usp.br/br/indicador/series/trigo.aspx?id=178

           Date     Real   Dolar
0    2004-02-02   436.76  148.36
1    2004-02-03   432.87  148.35
2    2004-02-04   435.37  149.15
3    2004-02-05   432.60  147.54
4    2004-02-09   431.91  147.66
...         ...      ...     ...
4319 2021-06-09  1609.17  317.39
4320 2021-06-10  1610.42  318.01
4321 2021-06-11  1609.51  314.36
4322 2021-06-14  1602.34  315.92
4323 2021-06-15  1608.61  318.98

[4324 rows x 3 columns]

In [ ]:
pagina6 = 'https://www.cepea.esalq.usp.br/br/indicador/acucar.aspx'
 
try:
  dados_paginas6 = http.request('GET',pagina6)
 
except HTTPError as e:
  print(e)
except URLError:
  print("Server down or incorrect domain")  
   # Pegando os dados do html da pagina
index6 = BeautifulSoup(dados_paginas6.data,'lxml')

  #Procurando as tag "a" dentro da "div"
links6 = index6.find("div",{"class":"imagenet-links-after-table imagenet-col-2 imagenet-pa-l imagenet-bb imagenet-fl"})
links6 = links6.find_all('a')[-1]
links6 = links6.get('href')

print('\n\nClica no link para fazer o download: \n',links6,'\n\n')

 
resp6 = requests.get(links6)
ole6 = OleFileIO_PL.OleFileIO(resp6.content) 

aÃ§ucar = pd.read_excel(ole6.openstream('Workbook'),skiprows=3)
aÃ§ucar['Data'] = pd.to_datetime(aÃ§ucar['Data'], format='%d/%m/%Y')
aÃ§ucar.rename(columns={'Data':'Date'},inplace=True)
aÃ§ucar.rename(columns={'Ã vista R$':'Real'},inplace=True)
aÃ§ucar.rename(columns={'Ã vista US$':'Dolar'},inplace=True)


aÃ§ucar.head(-1)

Clica no link para fazer o download:
 https://www.cepea.esalq.usp.br/br/indicador/series/acucar.aspx?id=53

           Date    Real  Dolar
0    2003-05-20   29.65   9.75
1    2003-05-21   29.26   9.75
2    2003-05-22   28.81   9.66
3    2003-05-23   28.35   9.71
4    2003-05-26   27.83   9.19
...         ...     ...    ...
4472 2021-06-09  116.93  23.06
4473 2021-06-10  117.23  23.15
4474 2021-06-11  115.60  22.58
4475 2021-06-14  116.89  23.05
4476 2021-06-15  117.26  23.25

[4477 rows x 3 columns]

In [ ]:
pagina7 = 'https://www.cepea.esalq.usp.br/br/indicador/boi-gordo.aspx'
 
try:
  dados_paginas7 = http.request('GET',pagina7)
 
except HTTPError as e:
  print(e)
except URLError:
  print("Server down or incorrect domain")  
   # Pegando os dados do html da pagina
index7 = BeautifulSoup(dados_paginas7.data,'lxml')

  #Procurando as tag "a" dentro da "div"
links7 = index7.find("div",{"class":"imagenet-links-after-table imagenet-col-2 imagenet-pa-l imagenet-bb imagenet-fl"})
links7 = links7.find_all('a')[-1]
links7 = links7.get('href')

print('\n\nClica no link para fazer o download: \n',links7,'\n\n')

 
resp7 = requests.get(links7)
ole7 = OleFileIO_PL.OleFileIO(resp7.content) 

boi = pd.read_excel(ole7.openstream('Workbook'),skiprows=3)
boi['Data'] = pd.to_datetime(boi['Data'], format='%d/%m/%Y')
boi.rename(columns={'Data':'Date'},inplace=True)
boi.rename(columns={'Ã vista R$':'Real'},inplace=True)
boi.rename(columns={'Ã vista US$':'Dolar'},inplace=True)


boi.head(-1)

Clica no link para fazer o download:
 https://www.cepea.esalq.usp.br/br/indicador/series/boi-gordo.aspx?id=2

           Date    Real  Dolar
0    1997-07-23   26.67  24.65
1    1997-07-24   26.67  24.65
2    1997-07-25   26.71  24.68
3    1997-07-28   26.74  24.70
4    1997-07-29   26.77  24.72
...         ...     ...    ...
5936 2021-06-09  315.85  62.30
5937 2021-06-10  317.35  62.67
5938 2021-06-11  319.45  62.39
5939 2021-06-14  319.45  62.98
5940 2021-06-15  317.35  62.93

[5941 rows x 3 columns]

In [ ]:
df = pd.read_excel('Scraping_Cepea_En.xlsx')
df['Commodity'].unique()

array(['Meat (beef, pork, and poultry)', 'Citrus', 'Coffee', 'Cotton',
       'Dairy', 'Ethanol', 'Wheat', 'Sugar', 'Corn', 'Soybean'],
      dtype=object)

In [ ]:
df = pd.read_excel('Scraping_Cepea_En.xlsx')

dt_milho = df.loc[df['Commodity'].isin(['Corn'])]
dt_milho = dt_milho.merge(milho, on= 'Date', how='outer')

dt_soja = df.loc[df['Commodity'].isin(['Soybean'])]
dt_soja = dt_soja.merge(soja, on= 'Date', how='outer')

dt_alcool = df.loc[df['Commodity'].isin(['Ethanol'])]
dt_alcool = dt_alcool.merge(alcool, on= 'Date', how='outer')

dt_cafe = df.loc[df['Commodity'].isin(['Coffee'])]
dt_cafe = dt_cafe.merge(cafe, on= 'Date', how='outer')

dt_algodao = df.loc[df['Commodity'].isin(['Cotton'])]
dt_algodao = dt_algodao.merge(algodao, on= 'Date', how='outer')

dt_trigo = df.loc[df['Commodity'].isin(['Wheat'])]
dt_trigo = dt_trigo.merge(trigo, on= 'Date', how='outer')

dt_aÃ§ucar = df.loc[df['Commodity'].isin(['Sugar'])]
dt_aÃ§ucar = dt_aÃ§ucar.merge(aÃ§ucar, on= 'Date', how='outer')

dt_boi = df.loc[df['Commodity'].isin(['Meat (beef, pork, and poultry)'])]
dt_boi = dt_boi.merge(boi, on= 'Date', how='outer')

dt = pd.concat([dt_alcool, dt_boi, dt_trigo, dt_aÃ§ucar, dt_algodao, dt_cafe, dt_milho, dt_soja],ignore_index=True)
dt.dropna(inplace=True)
dt2 = dt.sort_values(['Date'])
#dt2['Commodity'].unique()
dt2.head(-1)

            Date  ...   Dolar
32997 2007-04-02  ...   16.32
11853 2007-04-02  ...   16.99
11852 2007-04-02  ...   16.99
16352 2007-04-02  ...   64.93
16353 2007-04-02  ...   64.93
...          ...  ...     ...
1234  2021-06-01  ...   60.71
7197  2021-06-01  ...  312.58
32671 2021-06-01  ...   33.75
28451 2021-06-01  ...   19.24
11523 2021-06-01  ...   22.54

[2245 rows x 7 columns]

In [ ]:
dt2.isnull().sum()
print()
dt2.shape

(2246, 7)

In [ ]:
dt2.to_excel('commodity.xlsx',index=False)